@media (max-width: 1200px){
    .menu__item + .menu__item{
        padding-left: 20px;
    }
    .header__address{
        margin-right: 20px;
        margin-left: 20px;
    }
}

/*@media (max-width: 1100px){*/
/*    .menu__list{*/
/*        padding-left: 3px;*/
/*    }*/

/*}*/

@media (max-width: 968px){
    .header__bottom{
        display: none;
    }
    .menu__list{
        display: none;
    }
    .menu__btn{
        display: block;
        /*background-color: transparent;*/
        /*cursor: pointer;*/
        /*border: none;*/
    }
    .menu__btn-line{
        background: black;
        border-radius: 3px;
        width: 34px;
        height: 3px;
        margin: 8px 0;
    }
}