@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;
}

/*++++++++++++++++++++++++++++++*/
/*           Navigation         */
/*++++++++++++++++++++++++++++++*/
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #003147;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 60px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li:hover{
    background: #03a9f4;
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover{
    background: transparent;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    color: #fff;
    font-size: 24px;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

/*++++++++++++++++++++++++++++++*/
/*              Main            */
/*++++++++++++++++++++++++++++++*/

/*+++++++++++++++++++++*/
/*        Topbar       */
/*+++++++++++++++++++++*/
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #F5F5F5;
    transition: 0.5s;
}

.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar{
    width: 100%;
    background: #fff;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    background: transparent;
}

.toggle::before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: #111;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.search label .fa{
    position:absolute;
    left: 15px;
    top: 4px;
}

.user{
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*+++++++++++++++++++++*/
/*       Card Bpx      */
/*+++++++++++++++++++++*/

.card-box{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.card-box .card{
    position: relative;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.card-box .card .numbers{
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.card-box .card .card-name{
    color: #999;
}

.card-box .card .icon-box{
    color: #03a9f4;
    font-size: 4em;
}

/*+++++++++++++++++++++*/
/*    Recent Orders    */
/*+++++++++++++++++++++*/

.details{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
}

.details .recent-orders{
    position: relative;
    /*display: grid;*/
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card-header h2{
    font-weight: 600;
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}

.details .recent-orders table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recent-orders table tbody tr:last-child{
    border-bottom: none;
}

.details .recent-orders table tbody tr:hover{
    background: #03a9f4;
    color: #fff;
}

.details .recent-orders table tr td{
    padding: 9px 5px;
}

.details .recent-orders table thead tr td:last-child,
.details .recent-orders table tbody tr td:last-child{
    text-align: right;
}

.details .recent-orders table thead tr td:nth-child(2),
.details .recent-orders table tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 20px;
}

.details .recent-orders table thead tr td:nth-child(3),
.details .recent-orders table tbody tr td:nth-child(3){
    text-align: center;
}

.status{
    position: relative;
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
}

.delivered{
    background: #9DE02C;
}

.pending{
    background: #F9CA3F;
}

.return{
    background: #F00;
}

.in-progress{
    background: #1795CE;
}

/*+++++++++++++++++++++*/
/*  Recent Customers   */
/*+++++++++++++++++++++*/

.recent-customers{
    position: relative;
    /*display: flex;*/
    min-height: 530px;
    background: #fff;
    padding: 20px;
}

.details .recent-customers .img-box{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.details .recent-customers .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details .recent-customers table tr td h4 span{
    font-size: 14px;
    color: #999;
}

.details .recent-customers table tr:hover,
.details .recent-customers table tr:hover td h4 span{
    background: #03a9f4;
    color: #fff;
}

.details .recent-customers table tr td{
    padding: 7px 10px;
}

.details .recent-customers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

/*+++++++++++++++++++++*/
/*     Responsive      */
/*+++++++++++++++++++++*/

@media(max-width: 992px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        width: 100%;
    }
    .main.active{
        width: calc(100% - 300px);
        left: 300px;
    }
    .card-box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-header h2{
        font-weight: 600;
        font-size: 18px;
    }
}

@media(max-width: 480px){

    .card-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .details .recent-orders{
        overflow-x: auto;
    }
    .details .recent-orders table{
        width: 600px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle.active{
        position: fixed;
        z-index: 10000;
        right: 0;
        left: initial;
    }
    .toggle.active::before{
        color: #fff;
    }
    .main, .main.active{
        width: 100%;
        left: 0;
    }
}
